@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Mulish";
}

:root[data-theme="dark"] {
  background-color: #121212;
  color: #f0f0f0;
}
